<%- include('partials/header') %>

<div class="hero-image">
    <img src="/images/campuspic.jpg" class="w-100" alt="College Campus">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" onclick="window.location.href='/laundry'">
                <img src="/images/laundry.jpg" class="card-img-top" alt="Laundry Service">
                <div class="card-body">
                    <h5 class="card-title">Laundry Service</h5>
                    <p class="card-text">Schedule your laundry pickup and delivery</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" onclick="window.location.href='/canteen'">
                <img src="/images/canteen.jpg" class="card-img-top" alt="Canteen">
                <div class="card-body">
                    <h5 class="card-title">Canteen</h5>
                    <p class="card-text">View menu and place food orders</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" onclick="window.location.href='/clubs'">
                <img src="/images/clubs.jpg" class="card-img-top" alt="Clubs">
                <div class="card-body">
                    <h5 class="card-title">Clubs</h5>
                    <p class="card-text">Join and manage college clubs</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card" onclick="window.location.href='/permissions'">
                <img src="/images/permissions.jpg" class="card-img-top" alt="Permissions">
                <div class="card-body">
                    <h5 class="card-title">Permissions</h5>
                    <p class="card-text">Request and manage permissions</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" onclick="window.location.href='/alumni'">
                <img src="/images/alumni.jpg" class="card-img-top" alt="Alumni">
                <div class="card-body">
                    <h5 class="card-title">Alumni</h5>
                    <p class="card-text">Connect with college alumni</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" onclick="window.location.href='/feedback'">
                <img src="/images/feedback.jpg" class="card-img-top" alt="Feedback">
                <div class="card-body">
                    <h5 class="card-title">Feedback</h5>
                    <p class="card-text">Share your feedback and suggestions</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 